
header 
 .menuBoton
  display: flex
  justify-content: flex-end
  margin: 2vw
  .fa-bars
    color:rgb(38, 38, 38)
 nav
  background: #262626
  width: 100vw
  height: 100vh
  min-height: 100vh
  position: fixed
  top -100vh
  transition: all 1s ease
  .menuLine
   width: 100%
   height: 68%
  .subMenuLine
   width: 100%
   height: 12%
   border-bottom: 1px solid white    
  .logoLine
   width: 100%
   height: 20%
   padding: 0 2vw
   display: flex
   align-items: center
   justify-content: space-between
   .logo
    background: url('/imagenes/logo.png')
    background-size: contain
    height: 15vh
    width: 45vh
   .salir
    font-size: 4vw
    color: rgb(237, 237, 237)
    font-family: 'Work Sans', sans-serif
    font-weight: 100
  .menuLine
   width: 100%
   height: 68%
   padding: 0 10%
   margin: 1vw 0 
   display: flex
   justify-content: center
   .menu
    display: flex
    flex-direction: column
    justify-content: space-between
    align-items: flex-start
    height: 100%
    width: 50%
    a  
     width: 100%
     text-align: left
     &:hover
      color: #FFDA61
      border-bottom: 1px solid #FFDA61
   .futurosConciertos
    height: 100%
    width: 50%
    border-left: 0.5px solid #555
    padding-left: 5vw
    display: flex
    flex-direction: column
    justify-content: space-between
    h3 
      color: rgb(237, 237, 237)
    .concierto
      width: 100%
      display: flex
      h2, h5, p
        color: rgb(237, 237, 237)
        margin: 0
      h5
        margin-bottom 1vw
      .conciertoImagen
        width: 10vw
        height: 10vw
        background: white
      hgroup 
        width: 24vw
        padding-left: 0.8vw

  .subMenuLine
   width: 100%
   height: 12%
   border-bottom: 1px solid white  
.mostrado
  top: 0px


